/* Color Theme Swatches in Hex */
.SpaceX-Moodboard--1-hex { color: #3868A6; }
.SpaceX-Moodboard--2-hex { color: #8BB4D9; }
.SpaceX-Moodboard--3-hex { color: #F28A2E; }
.SpaceX-Moodboard--4-hex { color: #F2F2F2; }
.SpaceX-Moodboard--5-hex { color: #0D0D0D; }

/* Color Theme Swatches in RGBA */
.SpaceX-Moodboard--1-rgba { color: rgba(56, 104, 166, 1); }
.SpaceX-Moodboard--2-rgba { color: rgba(139, 180, 217, 1); }
.SpaceX-Moodboard--3-rgba { color: rgba(242, 138, 46, 1); }
.SpaceX-Moodboard--4-rgba { color: rgba(242, 242, 242, 1); }
.SpaceX-Moodboard--5-rgba { color: rgba(13, 13, 13, 1); }

/* Color Theme Swatches in HSLA */
.SpaceX-Moodboard--1-hsla { color: hsla(213, 49, 43, 1); }
.SpaceX-Moodboard--2-hsla { color: hsla(208, 50, 69, 1); }
.SpaceX-Moodboard--3-hsla { color: hsla(28, 88, 56, 1); }
.SpaceX-Moodboard--4-hsla { color: hsla(0, 0, 94, 1); }
.SpaceX-Moodboard--5-hsla { color: hsla(0, 0, 5, 1); }

@font-face {
    font-family: 'exo2-bold';
    src: url('../fonts/static/Exo2-SemiBold.eot?#iefix') format('embedded-opentype'),
        /*        url('../fonts/Cabin-Bold.woff') format('woff'),*/
        url('../fonts/static/Exo2-SemiBold.ttf') format('truetype'),
        url('../fonts/static/Exo2-SemiBold#svgFontName') format('svg');
}

@font-face {
    font-family: 'pt-sans-regular';
    src: url('../fonts/static/PTSans-Regular.eot?#iefix') format('embedded-opentype'),
        /*        url('../fonts/OpenSans-Regular.woff') format('woff'),*/
        url('../fonts/static/PTSans-Regular.ttf') format('truetype'),
        url('../fonts/static/PTSans-Regular#svgFontName') format('svg');
}

@font-face {
    font-family: 'pt-sans-semibold';
    src: url('../fonts/static/PTsans-Bold.eot?#iefix') format('embedded-opentype'),
        /*        url('../fonts/OpenSans-Regular.woff') format('woff'),*/
        url('../fonts/static/PTsans-Bold.ttf') format('truetype'),
        url('../fonts/static/PTsans-Bold#svgFontName') format('svg');
}
/*limited reset*/

html,
body,
div,
section,
h1,
h3,
h2,
article,
aside,
header,
hgroup,
footer,
nav,
blockquote,
address,
time,
span,
strong,
img,
ol,
ul,
li,
figure,
canvas,
video,
th,
td,
tr {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    font: inherit;
}

html5 display rule address,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
menu,
nav,
section,
summary {
    display: block;
}

body{
    background-color: black;
    font-family: pt-sans-regular , sans-serif;
    max-width: 1920px;
    margin: 0 auto;
}

/* Navigation menu */
.toggle,
[id^=drop] {
    display: none;
}

nav {
    padding: 10px 0;
    width: 100%;
    /* margin: 0 auto;
    max-width: 1920px;
    min-width: 320px;  */
}

#logo {
    width: 250px;
    position: absolute;
    top: 15px;
    left: 10px;
}

nav:after {
    display: table;
    clear: both;
    content: "";
}

nav ul {
    position: relative;
    z-index: 1;
    float: right;
    list-style: none;
    font-size: 0;
}

nav ul li {
    display: inline-block;
    text-transform: uppercase;
}

nav a {
    display: block;
    padding: 0 15px;
    margin: 0 2px;
    color: #F2F2F2;
    text-decoration: none;
    font-size: 16px;
    font-family: pt-sans-semibold, sans-serif;
    line-height: 60px;
}
.links{
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
.links:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.link-active{
    color: #f2892ea6;
}

nav a:hover {
    color: #F28A2E;
}

nav ul li:hover > ul {
    display: inherit;
}


li > label:after {
    content: " \25be";
}


li > a:only-child:after {
    content: '';
}

.active-menu {
    color: rgba(242, 138, 46, .5);
}

/* HEADER */
.header{
    min-height: calc(100vh - 250px);
}

.hero-text{
    color: #F2F2F2;
    margin: 1em 4em 1em;
    position: absolute;
    bottom: 20px;
}

.calender-text{
    color: #F2F2F2;
    margin: 8em 1em 1em 4em;
}

.p-text{
    font-size: 2em;
    color: #F2F2F2;

}

.hero-header{
    color: #F2F2F2;
    font-size: 4em;
    font-family: exo2-bold, sans-serif;
    text-transform: uppercase;
}
.hero-date{
    display: inline-block;
    background-color: rgba(242, 138, 46, .9);
    padding: 5px 15px;
    font-size: 20px;
}
.hero-starship{
    margin-top: .2em;
    font-size: 3.5em;
    font-family: pt-sans-regular , sans-serif;
    letter-spacing: 1.5px;
}
.btn-standard{
    font-family: pt-sans-regular, sans-serif;
    color: #F2F2F2;
    background-color: rgba(13, 13, 13, .5);
    font-size: 20px;
    letter-spacing: 1px;
    padding: 15px 30px;
    border: 2px solid #F2F2F2;
    display: inline-block;
    margin-top: 4em;
    text-decoration: none;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.btn-standard:hover{
    background-color: rgba(242, 242, 242, 1);
    color: #0D0D0D;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.main-hero-image{
    width: 100%;
    height: calc(100vh - 10vh);
    max-height: 900px;
    max-width: 1920px;
    margin: 0 auto;
    background-image: url(../images/Starlink21.jpg);
    background-position: center bottom 70%;
    background-size: cover;
    background-repeat: no-repeat;
}

/* CALENDAR SECTIOn */
.loader-container{
    display: flex;
    justify-content: center;
    margin-top: 6em;
    display: none;
}
.loader {
    border: 11px solid #F2F2F2; 
    border-top: 11px solid #F28A2E; /* Blue */
    border-radius: 50%;
    width: 90px;
    height: 90px;
    animation: spin 2s linear infinite;
  }
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(-360deg); }
  }
.calender-hero-image{
    width: 100%;
   
}
.container-calender{
    display: flex;
    align-items: stretch;
    padding: 2em 0 9em 0;
    background-color: #181818;
}

#calendar-launches{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 5em 0;
    color: #F2F2F2;
}

#calendar-launches li{
   list-style: none;
   margin-bottom: 15px;
}
.launch-date{
    background-color: #F28A2E;
    display: inline-block;
    padding: 5px 10px; 
    font-size: 20px;
}
.location-text{
    font-size: 20px;
}
.spaceship-name{
    font-family: pt-sans-semibold, sans-serif;
    font-size: 30px;
}
.launches-container{
    background-color: #4D4D4D;
    padding: 4em;
    margin: 1em;
    border-radius: 15px;
    width: 20%;
}

.rocket-icon{
    color: #8BB4D9;
}
.adress-icon{
    color: #c50000;
}
.btn-details{
    font-family: pt-sans-regular, sans-serif;
    color: #F2F2F2;
    font-size: 20px;
    letter-spacing: 1px;
    display: inline-block;
    margin-top: 3em;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    
}

.btn-details:hover{
    color: #F28A2E;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.link-arrow{
    margin-left: 10px;
}

.container-width{
    position: relative;
    max-width: 1920px;
    margin: 0 auto !important;
}

.container-hero{
    position: relative;
    height: calc(100vh - 20vh);
    max-height: 750px;
    max-width: 1920px;
    margin: 0 auto; 
}

/* ABOUT SECTION */
.about-hero{
    max-width: 1920px;   
    margin: 0 auto;
    height: calc(100vh - 10vh);
    max-height: 800px;
    background-image: url(../images/about-spacex.jpg);
    background-position: center bottom 80%;
    background-size: cover;
    background-repeat: no-repeat;
}
.about-text{
    color: #F2F2F2;
    margin: 1em 4em 6em;
    position: absolute;
    top:6em;
}
.about-subhead{
    font-size: 3em;
    letter-spacing: 1px;
    color: #F2F2F2;
    font-family: 'pt-sans-semibold', sans-serif;
}
.subhead-container{
    margin: 3em 4em 0 6em;
    padding: 3em 0;
    display: flex;
    justify-content: space-around;


}
.subhead-container p{
    color: #F2F2F2;
    font-size: 19px;
    
}
.bg-container{
    background-color: #181818;
    padding: 3em 0;
    margin: 3em 0;
    

}
.col{
    flex:1;
    margin: 1em;
}
.flex-grid-thirds{
    width: 32%;
    margin: 1em;
    text-align: right;
}
.fabric-image{
    width: 100%;
}

.musk-image{
    width: 100%;
    max-width: 350px;
    text-align: right;
    
}
.col.fabric-image{
    align-self: center;
}
  

/* FOOTER  */
#footer{
    display: flex;
    justify-content: center;
    align-items: flex-end ;
    height: 250px;
    /* background-color: #3868A6; */

}

.social-icons a{
    text-decoration: none;
}

.social-icons {
    text-align: center;
    padding-bottom: 2em;
}
.social-icons i:hover{
    color:  #F28A2E;
}

.social-icons i{
    color: #F2F2F2;
}
.social-icons li{
    list-style: none;
    display: inline;
    margin: 0 1em;
    
}
.copyrights {
    margin: 0;
    width: 100%;
    color: #F2F2F2;
    text-align: center;
    font-size: 14px;
    padding: 2.5em 0;
}

.copyrights a {
    color: #F2F2F2;
    font-family: pt-sans-semibold, sans-serif;

}
.copyrights a:hover {
    color: #F28A2E;
}

/* CONTACT PAGE */
.contact-text{
    font-size: 24px;
    color: #F2F2F2;
    margin-bottom: 4em;
}

.contact-hero-image{
    width: 100%;
    height: 350px;
    max-width: 1920px;
    margin: 0 auto;
    background-image: url(../images/contact-spacex.jpg);
    background-position: center bottom 70%;
    background-size: cover;
    background-repeat: no-repeat;
}

.contact-header{
    margin: 0em 1em 1em 1em;
    padding-top: 2em;
}

.container-form{
    /* margin: 0em 1em 1em 1em; */
    background-color: #181818;
    padding: 2em 0 4em 0;
    text-align: center;
}

/* CONTACT FORM */
.contact-form label {
    display: block;
    padding-bottom: 10px;
    text-align: left;
    text-transform: uppercase;
    font-size: 18px;
    font-family: pt-sans-regular, sans-serif;
    color: #F2F2F2;
}

#contact input[type="text"],
#contact input[type="email"],
#contact textarea,
#contact button[type="submit"] {
    font: 16px/18px pt-sans-regular, sans-serif;
}

fieldset {
    border: medium none !important;
    margin: 10px auto;
    max-width: 600px;
    padding: 0;
    width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact textarea {
    width: 100%;
    border: 1px solid #CCC;
    background: #FFF;
    margin: 0 0 5px;
    padding: 10px 0px;
    text-indent: 5px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact textarea:hover {
    -webkit-transition: border-color 0.3s ease-in-out;
    -moz-transition: border-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out;
    border: 1px solid #AAA;
}

#contact textarea {
    height: 150px;
    max-width: 100%;
    resize: none;
}

#contact button[type="submit"] {
    cursor: pointer;
    width: 150px;
    text-align: center;
    margin-top: 20px;
    padding: 22px 0;
}

::-webkit-input-placeholder {
    color: #888;
}

:-moz-placeholder {
    color: #888;
}

::-moz-placeholder {
    color: #888;
}

:-ms-input-placeholder {
    color: #888;
}

.error {
    display: none;
    color: rgb(246, 90, 90);
    font-size: 16px;
    text-align: left;
}

#thanks-message{
    display: none;
    text-align: center;
    padding: 5em 0;
    margin: 4em auto;
    max-width: 650px;
    background-color:#4D4D4D ;
    color: #F2F2F2;
}
#thanks-message h2{
    font-size: 2em;
    font-family:  pt-sans-semibold , sans-serif;
}
#thanks-message p{
    font-size: 24px;
    margin-bottom: 2em;
}


/* ABOUT PAGE */
.container-about{
    background-color: #181818;
    padding: 2em 0 4em 0;
    text-align: center;
}
.about-hero-image{
    width: 100%;
    height: 350px;
    max-width: 1920px;
    margin: 0 auto;
    background-image: url(../images/about-spacex.jpg);
    background-position: center bottom 70%;
    background-size: cover;
    background-repeat: no-repeat;
}

/* UPCOMING PAGE */

.upcoming-hero-image{
    width: 100%;
    height: 350px;
    max-width: 1920px;
    margin: 0 auto;
    background-image: url(../images/Starlink21.jpg);
    background-position: center bottom 90%;
    background-size: cover;
    background-repeat: no-repeat;
}



/* MEDIE QUERIE */
@media (max-width: 1024px) {
    nav {
        margin: 0;
        padding: 5px 0;
    }

    .toggle + a,
    .menu {
        display: none;
    }

    .toggle {
        display: block;
        padding: 0 20px;
        border: none;
        text-decoration: none;
        font-size: 16px;
        font-family: cabin-bold, sans-serif;
        line-height: 40px;
    }

    #toogle_menu {
        float: right;
        color: #F2F2F2;
        text-align: right;
        line-height: 60px;
        font-size: 18px;
        padding: 0 10px;
    }

    #toogle_menu:hover {
        color: #F28A2E;
    }

    .toggle:hover {
        color: white;
        cursor: pointer;
    }

    [id^=drop]:checked + ul {
        display: block;
        position: absolute;
        right: 0;
        top: 70px;
        background-color: #383838;
        padding: 20px ;
        animation: disappear .5s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
    @keyframes disappear {
        0% {
            width: 0px;
        }
        100% {
            width: 200px;
        }
    }

    nav ul li {
        display: block;
        width: 200px;
    }


    nav a {
        padding: 0 20px;
        font-size: 16px;
        line-height: 40px;
    }

    nav a:hover {
        color: #F28A2E;
        border-radius: 0;
    }

    #logo {
        top: 17px;
        left: 8px;
        width: 200px;
    }

    /* ABOUT PAGE */
    .subhead-container{
        margin: 1em;
        padding: 1em 0;
        flex-direction: column;
    }
    .reverse-col{
        flex-direction: column-reverse;
    }
    .subhead-container p{
        font-size: 16px;
    }
    .about-subhead{
        font-size: 2em;
    }
    .hero-header{
        font-size: 2.5em;
    }
    .container-about {
        padding: 1em 0 2em 0;
    }
    .bg-container{
        margin: 0;
        padding: 1em 0;
    }
    /* Contact page */
    .contact-text{
        font-size: 22px;
        margin-bottom: 2em;
    }
    .col-contact{
        margin: 0 1em;
    }

}